node_modules/
# Build
dist
public/dist
# Logs
*.log
npm-debug.log*
# Temporary and cache directories
.cache
# Wrangler
.dev.vars
.wrangler/
*storybook.log
storybook-static/
# Playwright
test-results/
playwright-report/
playwright/.cache/
